<%- include header %>

<form class="layui-form" method="post"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
	<div class="layui-form-item">
		<label class="layui-form-label">用户名：</label>
		<div class="layui-input-block">
			<input type="text" name="name" lay-verify="required" placeholder="唯一的用户名" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">密码：</label>
		<div class="layui-input-block">
			<input type="password" name="password" lay-verify="pass" placeholder="密码" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">确认密码：</label>
		<div class="layui-input-block">
			<input type="password" name="password-repeat" lay-verify="pass|passRepeat" placeholder="二次确认密码" autocomplete="off" class="layui-input">
		</div>
	</div><div class="layui-form-item">
		<label class="layui-form-label">邮箱：</label>
		<div class="layui-input-block">
			<input type="email" name="email" placeholder="邮箱地址" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</div>
	<!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
</form>
<script>
    layui.use('form', function(){
        var form = layui.form();
        var $=layui.jquery;
        form.verify({
            username: function(value){
                if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
                    return '用户名不能有特殊字符';
                }
                if(/(^\_)|(\__)|(\_+$)/.test(value)){
                    return '用户名首尾不能出现下划线\'_\'';
                }
                if(/^\d+\d+\d$/.test(value)){
                    return '用户名不能全为数字';
                }
            }

            //我们既支持上述函数式的方式，也支持下述数组的形式
            //数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
            ,pass: [
                /^[\S]{6,12}$/
                ,'密码必须6到12位，且不能出现空格'
            ]
			,passRepeat:function (value) {
           var p=$("input[name='password']").val();
           if(value!=p){
               return "两次密码不一致！";
		   }
        }
        });
        //各种基于事件的操作，下面会有进一步介绍
    });
</script>
<%- include footer %>